<button mat-icon-button class="helpBtn" tabindex="-1" (click)="openProductsHelp()">
  <mat-icon aria-hidden="false" >help</mat-icon>
</button>
<mat-card class="titleSub">
  <h1 class="title">Products</h1>

  <mat-card class="tableBtns">
    <mat-form-field color="accent" class="search f-l" appearance="standard">
      <mat-label class="searchLable">Search</mat-label>
      <input matInput (keyup)="applyFilter($event)"
        placeholder="eg. Firearm" #input>
    </mat-form-field>

    <button class="addButton f-r" mat-button matSuffix (click)="addProduct()">
      <mat-icon aria-hidden="false" aria-label="Add Icon">add</mat-icon>
      <span>Add Product</span>
    </button>
  </mat-card>


  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <div>
        <div class="spinner"></div>
      </div>
    </div>
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="productName">
          <th mat-header-cell style="justify-content: center;" *matHeaderCellDef> Name </th>
          <td class="active-row" mat-cell *matCellDef="let product"> {{product.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="productQuantity">
          <th mat-header-cell style="justify-content: center;" *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let product"> {{product.productQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="productPrice">
          <th mat-header-cell style="justify-content: center;" *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let product"> {{product.productPrice | currency:'R'}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let product">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">

              <button mat-menu-item (click)="viewProduct(product)">
                <mat-icon>remove_red_eye</mat-icon>
                <span>View Product</span>
              </button>

              <button mat-menu-item (click)="updateProduct(product)">
                <mat-icon>remove_red_eye</mat-icon>
                <span>Edit Product</span>
              </button>

              <button mat-menu-item (click)="deleteProduct(product)">
                <mat-icon>delete_outline</mat-icon>
                <span>Delete Product</span>
              </button>
            </mat-menu>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" color="accent" showFirstLastButtons class="mat-elevation-z8">
    </mat-paginator>
  </div>
</mat-card>