
<div class="aboutBG">
  <mat-card class="aboutCardTitleCard">
    <button style="align-items:right;" mat-raised-button color="accent" class="backBtnAbout f-l"
      (click)="back()">Back</button>
    <h1 style="align-items: center; text-align: center;">
      <strong>Meet the Team!</strong>
    </h1>
  </mat-card>



  <!-- <div class="card-group">
    <div class="card">
      <img src="../assets/Images/ruan.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ruan Smit</h5>
        <p class="card-text">I am 21 years old, originally from Pretoria. I am a final year BIT (Information Systems)
          student at the University of Pretoria, specializing in Information Science.</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/Images/abdel.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Abdel Ghani Muhra</h5>
        <p class="card-text">I am 21 years old, originally from Syria. I am a final year BIT (Information Systems)
          student at the University of Pretoria, specializing in Data Science Management.</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/Images/herman.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Herman Taljaard</h5>
        <p class="card-text">I am 22 years old, originally from Pretoria. I am a final year BIT (Information Systems)
          student at the University of Pretoria, specializing in Information Science.</p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="../assets/Images/edward.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Edward Du Plessis</h5>
        <p class="card-text">I am 21 years old, originally from Pretoria. I am a final year BIT (Information Systems)
          student at the University of Pretoria, specializing in Information Science.</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/Images/onke.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Onke Mweza</h5>
        <p class="card-text">I am 23 years old, originally from Carletonville. I am a final year BCom Informatics student
          at the University of Pretoria, specializing in Internal Auditing.</p>
      </div>
    </div>
  </div>
</div> -->

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <img src="../assets/Images/ruan.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ruan Smit</h5>
            <p class="card-text">I am 21 years old, originally from Pretoria. I am a final year BIT (Information
              Systems)
              student at the University of Pretoria, specializing in Information Science.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/Images/abdel.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Abdel Ghani Muhra</h5>
            <p class="card-text">I am 21 years old, originally from Syria. I am a final year BIT (Information Systems)
              student at the University of Pretoria, specializing in Data Science Management.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/Images/herman.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Herman Taljaard</h5>
            <p class="card-text">I am 22 years old, originally from Pretoria. I am a final year BIT (Information
              Systems)
              student at the University of Pretoria, specializing in Information Science.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <img src="../assets/Images/edward.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Edward Du Plessis</h5>
            <p class="card-text">I am 21 years old, originally from Pretoria. I am a final year BIT (Information
              Systems)
              student at the University of Pretoria, specializing in Information Science.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/Images/onke.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Onke Mweza</h5>
            <p class="card-text">I am 23 years old, originally from Carletonville. I am a final year BCom Informatics
              student
              at the University of Pretoria, specializing in Internal Auditing.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>