<h3 mat-dialog-title>Delete UserType</h3>

<div *ngFor="let usertype of userTypeInfo">
  <mat-dialog-content>
    <h3>Are you sure you want to delete this User Type?</h3>
    <div class="table-responsive">
      <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">User Type ID</th>
              <td>{{usertype.ID}}</td>
          </tr>
              <tr>
                  <th scope="row">User Type</th>
                  <td>{{usertype.name}}</td>
              </tr>       
      </table>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary"  [mat-dialog-close]="1" (click)="confirmDeleteType(usertype)">Delete</button>
    <button mat-raised-button color="accent" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </mat-dialog-actions>
</div>
