<button tabindex="-1" class="close" mat-button (click)="onNoClick()">
  <mat-icon aria-hidden="false">close</mat-icon>
  </button>
<div class="container">
    <h3 mat-dialog-title>Update User Type</h3>
  
    <form class="mat-dialog-content" [formGroup]="updateUserType">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input  placeholder="Name" id="userTypeName" formControlName="userTypeName" required >
          <mat-error *ngIf="updateUserType.controls['userTypeName'].invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </div>

      <!--Textarea for demo purposes-->
      

      <!-- [type]="submit" -->
    </form>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="confirmUpdateType()">Add</button>
      <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="accent">Cancel</button>
    </div>
</div>
