<div class="container"><button tabindex="-1" class="close" mat-button (click)="onNoClick()">
            <mat-icon aria-hidden="false">close</mat-icon>
            </button>
    <h2 mat-dialog-title>Add New Inventory Item</h2>

    <form class="mat-dialog-content" autocomplete="off" [formGroup]="addInventoryItem">

        <!-- Inventory Status -->
        <div class="form">
            <mat-form-field color="accent">
                <mat-label>Inventory Status</mat-label>
                <mat-select formControlName="inventoryStatusId" required>
                    <mat-option *ngFor="let inventory of inventoryStatus" [value]="inventory.inventoryStatusId">
                        {{inventory.inventoryStatusName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addInventoryItem.get('inventoryStatusId')!.hasError('required')"> Inventory Status is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Inventory Name -->
        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Inventory Name" formControlName="inventoryName" name="inventoryName"
                    required>
                <mat-error *ngIf="addInventoryItem.get('inventoryName')!.hasError('required')"> Inventory Name is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addInventoryItem.get('inventoryName')!.hasError('pattern')"> Inventory Name cannot
                    contain
                    <strong>symbols or numbers</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Inventory Description -->
        <div class="form">
            <mat-form-field color="accent">
                <input matInput #inputstate placeholder="Inventory Description" formControlName="inventoryDescription"
                    name="inventoryDescription" required>
                <mat-error *ngIf="addInventoryItem.get('inventoryDescription')!.hasError('required')"> Inventory
                    Description
                    is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>

        <!-- Inventory Quantity -->
        <div class="form">
            <mat-form-field color="accent">
                <input matInput type="number" #inputstate placeholder="Inventory Quantity" formControlName="inventoryQuantity"
                    name="inventoryQuantity" min="0" required>
                <mat-error *ngIf="addInventoryItem.get('inventoryQuantity')!.hasError('required')"> Inventory Quantity
                    is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Inventory Price -->
        <div class="form">
            <mat-form-field color="accent">
                <input matInput type="number" #inputstate placeholder="Inventory Price" formControlName="inventoryPrice"
                    name="inventoryPrice" min="0" required>
                <mat-error *ngIf="addInventoryItem.get('inventoryPrice')!.hasError('required')"> Inventory Price is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </form>

    <!-- Actions -->
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!addInventoryItem.valid"
            (click)="confirmAddInventory()">Add</button>
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    </mat-dialog-actions>
</div>